.paralax-bg {
  position: relative;
  overflow: hidden;
  .paralax-bg-img {
    min-height: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    img {
      @include abs-center-img;
    }
  }
}
