.paralax-bg {
  position: relative;
  overflow: hidden;

  .paralax-bg-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 150%;

    img {
      @include abs-center-img;
    }
  }
}
