$warn: #f7e4e1;
$notice: #d7ecfa;
$success: #e1faea;

$font: #333;

$form-border: #898989;
$form-font-color: #0a0a0a;
$label-font-color: #898989;
$label-font-active-color: #898989;

$dark: #00263e;
$black: #1f2126;
$medium: #445878;
$light: #92cdcf;

$background: #eeeff7;

$font: $black;
