// !!!This should only import files that are included in the skeleton app!!!
//   Do not include any site specific css or imports in this file!

$cyan-accent: #9a8297;
$debug-bg: #1d1f20;

#debug {
  position: relative;
  padding: 15px;
  overflow: hidden;
  font-family: Monaco, monospace;
  font-weight: normal;
  color: $white;
  background-color: $debug-bg;
  border-radius: 5px 6px 5px 5px;

  button {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
    height: 30px;
    padding-bottom: 4px;
    font-size: 28px;
    line-height: 0;
    color: $debug-bg;
    background-color: darken($white, 10%);
    border-radius: 0 5px;
  }

  pre {
    padding-top: 5px;
    margin-top: 5px;
    font-family: Monaco, MonoSpace;
    border-top: 1px solid $light-gray;
  }

  span {
    position: absolute;
    left: 160px;
    font-weight: bold;
    color: $cyan-accent;
  }
}

// Themes for the debugger

.color-palate {
  text-align: center;

  @each $color in $theme {
    $i: index($theme, $color);

    .palate-#{$i} {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin: 5px;
      color: $white;
      vertical-align: top;
      background-color: nth($color, 2);
      border: 1px solid $white;

      &::before,
      &::after {
        color: invert(nth($color, 2));
      }

      &::after {
        display: block;
        content: '#{nth($color, 1)}';
      }

      &::before {
        display: block;
        content: '#{nth($color, 2)}';
      }
    }
  }
}
