.input {
  .text {
    padding-top: 24px;
  }

  .error {
    position: relative;

    small {
      .error {
        position: absolute;
        top: 100%;
        left: 0;
        color: darken($warn, 75%);
      }
    }
  }
}
