.relative {
  position: relative;
}

.mobile-edge-to-edge {
  @include breakpoint(medium down) {
    padding-right: 0;
    padding-left: 0;
  }
}

ul {
  margin: 0;
  list-style-type: none;
}

.nopadding {
  padding: 0;
}

.padded-row {
  padding: 0 15px;
}
