// Do not add anything this way unless scss @import does not work, this is a
//   secondary way to add css files to your application
/*
* require froala_editor.min.css
* require froala_style.min.css
* require font-awesome
* require plugins/char_counter.min.css
* require plugins/code_view.min.css
* require plugins/colors.min.css
* require plugins/draggable.min.css
* require plugins/emoticons.min.css
* require plugins/file.min.css
* require plugins/fullscreen.min.css
* require plugins/image_manager.min.css
* require plugins/image.min.css
* require plugins/line_breaker.min.css
* require plugins/quick_insert.min.css
* require plugins/table.min.css
* require plugins/video.min.css
*/

// Use @import to import any additional scss files, note: any files in the
//   modules/ or pages/ folder will be automatically added to this file
//   to create another folder which imports all files use the 'page/**' or
//   'page/**/*' to import the tree

// Import all settings and variables
@import 'vendor/_all';

// Import Settings
@import 'settings/_all';

// Import all Components
@import 'inputs/**/*';

// Do not change order of vendor, themes, or settings.

// Import all Components
@import 'components/**/*';

// Import Defaults
@import 'defaults/**/*';

// Import all Modules
@import 'modules/**/*';

// Import the Layout
@import 'layout/**/*';

// Import all Pages
@import 'pages/**/*';
